[submodule "modules/Isaac-GR00T"]
	path = modules/Isaac-GR00T
	url = https://github.com/NVIDIA/Isaac-GR00T.git
	branch = main
[submodule "modules/unitree_ros"]
	path = modules/unitree_ros
	url = https://github.com/unitreerobotics/unitree_ros.git
	branch = master
